<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'invitation_app/styles.css' %}">
    <title>Invitation</title>
    <!-- Swiper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Vue JS Tour -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-tour@2.0.0/dist/vue-tour.min.css">

</head>
<body>
    <!-- Swiper container -->
    <div class="swiper-container" id="swiper-container">
        <div class="swiper-wrapper">
            <!-- First Slide -->
            <div class="swiper-slide swiper-slide-one">
                <!-- Success message -->
                <div v-if="successMessage" class="alert alert-success">
                     [[successMessage]] 
                </div>
            
                <!-- Error message -->
                <div v-if="errorMessage" class="alert alert-danger">
                    [[errorMessage]]
                </div>
                <div class="image-container">
                    INVITATION
                </div>
                <div class="letter">
                    <div class="text-one">
                      <span class="text-one-span"> {{ invitation.text }} </span>
                    </div>
                    <div class="paragraph">
                        <p class="paragraph-item">
                            Il y a 20 ans, BEYN est née d’une vision audacieuse : révolutionner le secteur du eBanking et accompagner les institutions financières vers une digitalisation innovante et performante. 
                        </p>
                        <p class="paragraph-item">
                            Aujourd’hui, grâce à votre confiance et à notre engagement commun, nous avons parcouru un chemin remarquable, marqué par l’innovation et les réussites partagées.
                        </p>
                        <p class="paragraph-item">  
                            Nous avons le plaisir de vous convier à une soirée dînatoire exclusive, où nous célébrerons ensemble ces 20 années de succès, d’ambition et de croissance, tout en partageant notre vision pour l’avenir.
                        </p>
                        <div class="text-two">
                            L'équipe Beyn
                        </div>
                    </div>
                </div>
                <div class="dual-text-container">
                    <div class="text-left">
                        19 Février </br> 
                        2025.
                    </div>
                    <div class="text-right">
                        Algiers </br> 
                        Marriott Hotel </br> 
                        Bab Ezzouar. 
                    </div>
                </div>
                <div class="video-frame">
                    <button id="play-btn">
                        <img src="{% static 'images/play-icon.png' %}" alt="Play" class="play-btn-icon">
                    </button>
                    <iframe
                        id="vimeo-video"
                        src="{{invitation.video_link}}?autoplay=0&loop=0&title=0&byline=0&portrait=0&controls=0&transparent=0"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="btns-section">
                    <button id="openModalBtn" class="confirme-btn" v-on:click="openModal('confirmationModal1')">Je confirme ma présence</button>
                    <button id="next-slide-btn" class="navigate-btn" v-on:click="goToNextSlide">
                        Le programme
                        <img src="{% static 'images/arrow-right.png' %}" class="arrow-icon"> 
                    </button>
                </div>
                <!-- Modal Structure -->
                <div id="confirmationModal1" class="modal">
                    <div class="modal-content">
                        <h2 class="confirmation-title">Confirmer votre présence</h2>
                        <form id="confirmationForm" @submit.prevent="submitForm">
                            <div class="form-group">
                                <label for="firstName" class="confirmation-lable">Prénom</label>
                                <input type="text" id="firstName" v-model="form.firstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="confirmation-lable">Nom</label>
                                <input type="text" id="lastName" v-model="form.lastName" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="confirmation-lable">Phone</label>
                                <input type="text" id="phoneNumber" v-model="form.phoneNumber" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="confirmation-lable">Email</label>
                                <input type="email" id="email" v-model="form.email" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-label">
                                    <input type="checkbox" v-model="form.agreedToTerms" required>
                                    <h2 class="terms-condition-text">J'accepte <span class="terms-condition-link" v-on:click="showTermsCondition('terms-and-conditions-1')">les termes et conditions</span></h2>
                                </div>
                                <div class="terms-and-conditions" id="terms-and-conditions-1">
                                        En participant à cet événement, vous autorisez l’utilisation de vos photos et vidéos prises lors de l'événement sur nos supports de communication, conformément à la loi 18-07 sur la protection des données personnelles. Vous pouvez exercer vos droits d'accès et de rectification en contactant notre DPO à 
                                        <a href="mailto:dpo@beyn.io" class="terms-condition-email">dpo@beyn.io</a>.
                                </div>
                            </div>
                            <div class="model-btns">
                                <button type="submit" class="submit-confimration-btn">Je confirme</button>
                                <button type="button" id="closeModalBtn" class="close-confimration-btn" @click="closeModal">Annuler</button>
                            </div>
                        </form>
                        <div class="success" v-if="successMessage">{{ successMessage }}</div>
                        <div class="error" v-if="errorMessage">{{ errorMessage }}</div>
                    </div>
                </div>
            </div>


            <!-- Second Slide -->
            <div class="swiper-slide swiper-slide-two">
                <div class="top-header">
                    <div class="image-container">
                        <img src="{% static 'images/event-slogon.png' %}" class="image-logo">
                    </div>
                </div>

                <div class="programme-container">
                    <div class="programme-title">
                        PROGRAMME
                    </div>
                    <div class="programme-info">
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Accueil des invités</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">18h00</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">18h15</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Exposition & Networking</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">18h15</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">19h00</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Discours d’ouverture</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">19h00</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">19h05</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">20 ans de progrès</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">19h05</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">19h15</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Le paiement mobile réinventé</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">19h15</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">19h30</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Perspectives d’avenir</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">19h30</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">19h45</span>
                            </div>
                        </div>
                        <div class="programme-info-item">
                            <div class="programme-info-item-text">Diner & animation musicale</div>
                            <div class="programme-info-item-time">
                                <span class="programme-info-item-time-first">20h00</span>
                                <span>-</span>
                                <span class="programme-info-item-time-second">21h30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-logo">
                        <img src="{% static 'images/event-logo.png' %}" class="event-logo">
                    </div>
                    <div>
                        <a href="https://beyn.io/" class="website-link" target="_blank" class="footer-section-text">
                            <div class="powerd-by-text">Powered by</div> 
                            <div><img src="{% static 'images/beyn-logo.png' %}" class="beyn-logo"></div>
                        </a>
                    </div>
                </div>
                <div class="rsvp-section">
                    <div class="rsvp-title">
                        Contact
                    </div>
                    <div class="contact-info">
                        <div class="contact-info-item">
                            <div class="contact-info-item-icon">
                                <img src="{% static 'images/email-icon.png' %}" class="email-icon">
                            </div>
                            <div class="contact-info-item-text">
                                <a href="mailto:nahla.maache@beyn.io " class="contact-info-item-text-link">nahla.maache@beyn.io</a>
                            </div>
                        </div>
                        <div class="contact-info-item">
                            <div class="contact-info-item-icon">
                                <img src="{% static 'images/phone-icon.png' %}" class="phone-icon">
                            </div>
                            <div class="contact-info-item-text">
                                +213 561 665 893
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns-section btns-section-2">
                    <button id="openModalBtn" class="confirme-btn" v-on:click="openModal('confirmationModal2')">Je confirme ma présence</button>
                    <button id="next-slide-btn" class="navigate-btn" v-on:click="goToPreviousSlide">
                        <img src="{% static 'images/arrow-left.png' %}" class="arrow-left-icon"> 
                        L'invitation
                    </button>
                </div>
                <!-- Modal Structure -->
                <div id="confirmationModal2" class="modal">
                    <div class="modal-content">
                        <h2 class="confirmation-title">Confirmer votre présence</h2>
                        <form id="confirmationForm" @submit.prevent="submitForm">
                            <div class="form-group">
                                <label for="firstName" class="confirmation-lable">Prénom</label>
                                <input type="text" id="firstName" v-model="form.firstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="confirmation-lable">Nom</label>
                                <input type="text" id="lastName" v-model="form.lastName" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="confirmation-lable">Phone</label>
                                <input type="text" id="phoneNumber" v-model="form.phoneNumber" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="confirmation-lable">Email</label>
                                <input type="email" id="email" v-model="form.email" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-label">
                                    <input type="checkbox" v-model="form.agreedToTerms" required>
                                    <h2 class="terms-condition-text">J'accepte <span class="terms-condition-link" v-on:click="showTermsCondition('terms-and-conditions-2')">les termes et conditions</span></h2>
                                </div>
                                <div class="terms-and-conditions" id="terms-and-conditions-2">
                                        En participant à cet événement, vous autorisez l’utilisation de vos photos et vidéos prises lors de l'événement sur nos supports de communication, conformément à la loi 18-07 sur la protection des données personnelles. Vous pouvez exercer vos droits d'accès et de rectification en contactant notre DPO à 
                                        <a href="mailto:dpo@beyn.io" class="terms-condition-email">dpo@beyn.io</a>.
                                </div>
                            </div>
                            <div class="model-btns">
                                <button type="submit" class="submit-confimration-btn">Je confirme</button>
                                <button type="button" id="closeModalBtn" class="close-confimration-btn" @click="closeModal">Annuler</button>
                            </div>
                        </form>
                        <div class="success" v-if="successMessage">{{ successMessage }}</div>
                        <div class="error" v-if="errorMessage">{{ errorMessage }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</body>
<!-- Include Swiper.js JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const confirmationUrl = "{% url 'submit_invitation' %}";
    const invitationType = "{{ invitation.type }}";
    
    window.CSRF_TOKEN = "{{ csrf_token }}";

</script>
  
<!-- Axious -->
<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="application/javascript" src="{% static 'invitation_app/main.js' %}"></script>
</html>
