/* Define the General Sans font */
@font-face {
    font-family: 'General Sans';
    src: url('/static/fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('/static/fonts/GeneralSans-Medium.woff') format('woff');
    font-weight: 500; /* Use numeric value for 'medium' weight */
    font-style: normal; /* 'medium' is not a valid style, use 'normal' */
}

@font-face {
    font-family: 'General Sans';
    src: url('/static/fonts/GeneralSans-Semibold.woff2') format('woff2'),
         url('/static/fonts/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600; /* 'semibold' is represented by 600 */
    font-style: normal; /* 'bold' is a weight, not a style */
}

@font-face {
    font-family: 'General Sans';
    src: url('/static/fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('/static/fonts/GeneralSans-Regular.woff') format('woff');
    font-weight: 400; /* 'semibold' is represented by 600 */
    font-style: normal; /* 'bold' is a weight, not a style */
}
a {
    color: inherit !important;
    text-decoration: none !important;
  }
/* video styling */
.video-frame {
    width: 100%; /* Full width */
    max-width: 800px; /* Optional max width */
    margin: 0 auto; /* Center horizontally */
    aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
    position: relative; /* Required for padding trick */
    border-radius: 4px; /* Rounded corners */
    overflow: hidden; /* Hide any overflow */

    display: flex;
    align-items: center;
    justify-content: center;
}

.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Allows clicks to pass through */
}






/* swiper styling */

.swiper-slide {
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    text-align: center;
}

/* .swiper-slide img {
    max-width: 80%;
    max-height: 60%;
    margin-bottom: 20px;
} */

.swiper-slide h1, .swiper-slide p {
    margin: 10px;
}
.swiper-pagination-bullet-active {
    background: #00FF7F !important;
}
.swiper-pagination-bullet {
    background: #000000;
}
/* navigation style */
.navigate-btn {
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.7vh;
    background: none;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
.arrow-icon {
    height: 15px;
    margin-bottom: 0px !important;
    padding-left: 7px;
}
.confirme-btn {
    padding: 10px 15px;
    background: none;
    border: none;
    background: #00FF7F;
    border-radius: 2px;
    font-size: 1.7vh;
    cursor: pointer;
    color: #141516;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 4px;
}

.error {
    color: red;
}

.success {
    color: green;
    margin-top: 10px;
}


/* home styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
}

.swiper-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/static/images/bg-image.png') no-repeat center center/cover; 
    color: white;
    text-align: center;
}

.swiper-slide-one{
    background: url('/static/images/bg-img1.png') no-repeat center center/cover; 
    padding: 30px;
    padding-bottom: 12vh;
}
.swiper-slide-two{
    background: url('/static/images/bg-img2.png') no-repeat center center/cover; 
    padding: 30px;
}

.text-one {
    width: fit-content;
    text-align: start;
    font-size: 2vh;
    /* border-bottom: 2px solid #00FF7F; */
    padding-bottom: 1vh;
    font-weight: 500;
    height: 3vh;
    margin-bottom: 1vh;
}

/* .text-one-span {
    text-transform: uppercase;
} */

.paragraph {
    width: 100%;
    font-size: 1.5vh;
    text-align: justify;
    line-height: 1.4;
    font-weight: 400;
    height: auto;
}
.paragraph-two {
    width: 100%;
    font-size: 1.6vh;
    text-align: justify;
    line-height: 1.4;
    margin-top: 2vh;
    font-weight: 400;
}
.paragraph-item {
    margin: 0px 0px 5px 0px !important
}

.text-two {
    text-align: end;
    font-size: 1.8vh;
    color: #00FF7F;
    font-weight: 500;
    margin-bottom: 1vh;
    height: 3vh;
    margin-top: 1vh;
    width: 100%;
}

.dual-text-container {
    background: url(/static/images/date-bg.png) no-repeat center center / cover;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 2vh; */
    height: 18.7vw;
    width: 100%;
}
.text-left {
    text-align: start;
    font-size: 2.5vh;
    font-weight: 600;
}
.text-right {
    text-align: end;
    font-size: 1.8vh;
}

button#play-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
}
.play-btn-icon {
    margin-bottom: 0px !important;
    height: 40px;
}
.btns-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 5vh;
    position: absolute;
    width: calc(100vw - 60px);
    height: 5vh;
}
.image-logo {
    height: 3.5vh;
    /* margin-bottom: 20px; */
}
.image-container {
    font-size: 3vh;
    font-weight: 600;
    color: #00FF7F;
    height: 4vh;
    width: 100%;
}


/* confirmation form fields */
.confirmation-title{
    color: #141516;
    font-size: 2vh;
    margin-bottom: 3vh;
}

.confirmation-lable{
    color: #181A1E;
    font-size: 2vh;
    margin-bottom: 1vh;
}
input#firstName {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #E7ECF5;
    background: #ffffff;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
input#lastName {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #E7ECF5;
    background: #ffffff;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
input#phoneNumber {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #E7ECF5;
    background: #ffffff;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

input#email{
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #E7ECF5;
    background: #ffffff;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5vh;
}

.submit-confimration-btn{
    padding: 10px 15px;
    border: none;
    background: #00FF7F;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    width: 55%;
    font-weight: 500 !important;
}
.close-confimration-btn{
    padding: 10px 15px;
    border: none;
    background: #e7ecf5;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    width: 40%;
    font-weight: 500 !important;
}
.model-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 1vh;
}


input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    position: relative;
    background-color: var(--Gray-50);
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin-right: 10px;
    margin: 0px;
}
.programme-container {
    width: 100% !important;
}

input[type="checkbox"]{
    border: 1px solid  #cbcbcb;
}

input[type="checkbox"]:checked {
    background-color:  #00FF7F;
    border: none;
}

input[type="checkbox"]:checked:after {
    content: '\2713'; /* Unicode checkmark character */
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 18px; /* Adjust the font size as needed */
    color:  #ffffff; /* Adjust the color as needed */
    font-weight: 700;
    font-family: 'Inter';
}

.terms-and-conditions{
    display: none;
    color: black;
    margin-top: 1vh;
    text-align: justify;
    font-size: 1.6vh;
    font-weight: 400;
}
.checkbox-label {
    display: flex;
    align-items: center;
    width: 100%;
}
.terms-condition-text{
    color: black;
    font-size: 1.7vh;
    font-weight: 500;
    margin-left: 15px;
}
.terms-condition-link {
    border-bottom: 1px solid;
    padding-bottom: 1px;
    font-weight: 600;
    cursor: pointer;
}
.terms-condition-email {
    text-decoration: underline;
    font-weight: 700;
    color: #000000;
}

.programme-title {
    font-size: 3vh;
    color: #00ff7f;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 3vh;
}
.programme-info-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.programme-info-item-text {
    font-size: 1.8vh;
}
.rsvp-title {
    margin-top: 2vh;
    font-size: 2vh;
    color: #00ff7f;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1.5vh;
}
.rsvp-text {
    font-size: 1.8vh;
    font-weight: 400;
    margin-bottom: 2vh;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
}
.contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.contact-info-item-icon {
    display: flex;
    margin-right: 10px;
}
.email-icon {
    width: 15px;
}
.phone-icon {
    width: 15px;
}
.contact-info-item-text {
    font-size: 1.7vh;
    display: flex;
    justify-content: flex-start;
    width: 120px;
}

img.event-logo {
    width: 15vh;
}
.footer-section {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.footer-section-text {
    font-size: 0.8vh;
    display: flex;
    flex-direction: column;
}
.website-link {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info-item-text-link {
    color: #ffffff;
    text-decoration: none;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    left: 10%;
}

.alert-success {
    background-color: #00ff7f;
    color: #000000;
}
  
.alert-danger {    
    background-color: #fc5e5e;
    color: #ffffff;
}

.rsvp-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.powerd-by-text{
    font-size: 1.5vh;
    margin-bottom: 1vh;
}
.beyn-logo {
    width: 8vh;
}



.programme-info-item-time {
    font-size: 1.8vh;
    width: 105px;
    display: flex;
    justify-content: space-between;
}
.programme-info-item-time-first {
    width: 45px;
    text-align: start;
}
.programme-info-item-time-second {
    width: 45px;
    text-align: end;
}

.top-header {
    display: flex;
    width: 100%;
    align-items: center;
}
.swiper-pagination-bullet {
    background: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #00ff7f !important;
}


.btns-section-2{
    display: none;
}


@media (min-width: 600px){
    .swiper-slide{
        display: flex !important;
        align-items: center !important;
    }
    .letter{
        width: 500px;
    }
    .dual-text-container {
        background: url(/static/images/date-bg-2.png) no-repeat center center / cover;
        width: 500px;
        height: 86px;
        margin-bottom: 1vh;
        padding: 10px 20px;
    }
    .video-frame {
        width: 500px;
        max-width: 600px;
        overflow: visible;
    }
    .btns-section{
        width: 500px;
    }
    .image-container{
        margin-bottom: 1vh;
    }
    .paragraph {
        width: 500px;
        font-size: 1.7vh;
        text-align: justify;
        line-height: 1.4;
        font-weight: 400;
        height: auto;
    }
    .text-two {
        font-size: 2vh;
    }
    .modal-content {
        width: 500px;
    }
    .programme-container {
        width: 500px !important;
    }
    .programme-info-item-time {
        font-size: 2vh;
        width: 150px;
    }
    .programme-info-item-text {
        font-size: 2vh;
    }
    .footer-section {
        width: 500px;
    }
    .event-logo {
        width: 20vh;
    }
    .powerd-by-text {
        font-size: 1.8vh;
    }
    .beyn-logo {
        width: 13vh;
    }
    .contact-info-item {
        margin-bottom: 1.5vh;
    }
    .contact-info-item-icon {
        margin-right: 10px;
    }
    .email-icon {
        width: 20px;
    }
    .contact-info-item-text {
        font-size: 2vh;
        width: 200px;
    }
    .contact-info-item-icon {
        margin-right: 20px;
    }
    .swiper-slide-one{
        background: url('/static/images/slide-1-desktop.jpg') no-repeat center center/cover; 
        padding: 30px;
        padding-bottom: 12vh;
    }
    .swiper-slide-two{
        background: url('/static/images/slide-3-desktop.png') no-repeat center center/cover; 
        padding: 30px;
        padding-bottom: 12vh;
    }
    .programme-info-item-time-first {
        width: 60px;
        text-align: start;
    }
    .programme-info-item-time-second {
        width: 60px;
        text-align: end;
    }
    .arrow-left-icon {
        height: 15px;
        margin-bottom: 0px !important;
        padding-right: 7px;
    }
    .btns-section-2{
        display: flex;
    }
    
}